.maincontainer{
    border: 1px solid #DDD;
    padding:8px;
    margin: 25px 0px 0px;
}

.leftbar{
    border: 1px solid #DDD;
}

.rightBar{
    /*
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    */
}

.leftbar ul{
    list-style-type: none;
    margin: 15px 0px 0px;
}

.leftbar ul li a{
    display: block;
    text-decoration: navajowhite;
    font-size: 15px;
}

.leftbar ul li a:hover{
    text-decoration: underline;
}

.text-danger{
    color: red;
    font-weight: bold;
}